:root {
    --grey-1: hsl(212, 33%, 89%);
    --grey-2: hsl(210, 31%, 80%);
    --grey-3: hsl(211, 27%, 70%);
    --grey-4: hsl(209, 23%, 60%);
    --grey-5: hsl(210, 22%, 49%);
    --grey-6: hsl(209, 28%, 39%);
    --grey-7: hsl(209, 34%, 30%);
    --grey-8: hsl(211, 39%, 23%);
    --grey-9: hsl(209, 61%, 16%);
    --white: #fff;
    --black: #000;
    --main-blue: #0066cc;
    --second-blue: rgb(76, 157, 233);
    --third-blue: #0053a6;
}

* {
    box-sizing: border-box;
    text-decoration: none;
}

/* Social Icons */
.social-icons a {
    color: rgba(0, 0, 0, 0.9);
    background-color: transparent;
    width: 1.8rem;
    height: 1.8rem;
    font-size: 1.3rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 1.3rem 3rem 0;
    padding: 18px;
    border: 0.15rem solid var(--second-blue);
    border-radius: 50%;
    transition: 0.3s ease;
}

.social-icons a:hover {
    color: var(--black);
    background-color: var(--second-blue);
    box-shadow: 0 0 16px var(--second-blue);
    transform: scale(1.3) translateY(-5px);
}

/* Button */
.btn {
    color: var(--white);
    background-color: transparent;
    font-size: 1rem;
    font-weight: 700;
    display: inline-block;
    border: 2.2px solid var(--second-blue);
    padding: 0.5rem 1.2rem;
    border-radius: 4rem;
    letter-spacing: 1px;
    transition: 0.3s ease;
    cursor: pointer;
    position: relative;
    top: -25px;
}

.btn:hover {
    color: var(--black);
    background-color: var(--second-blue);
    transform: scale(1.03);
    box-shadow: 0 0 25px var(--second-blue);
}

/* Hero Section */
.hero,
.contact,
.projects {
    padding: 0 250px;
}

.hero span {
    color: var(--second-blue);
}

.hero .headingdiv,
.hero .iconsdiv,
.loading {
    margin: 60px auto;
    text-align: center;
}

.loading {
    font-size: 30px;
    font-family: "Roboto", sans-serif;
}

.hero div .heading {
    font-size: 30px;
}

.hero div .typing-text {
    font-size: 28px;
    font-weight: 600;
    min-width: 280px;
}

.hero div .typing-text span {
    position: relative;
}

.hero div .typing-text span::before {
    content: "software developer";
    color: var(--second-blue);
    animation: words 20s infinite;
}

.hero div .typing-text span::after {
    content: "";
    position: absolute;
    right: -15px;
    width: 4px;
    height: 100%;
    border-left: 3px solid var(--second-blue);
    animation: cursor 0.6s infinite;
}

.hero .about-me h3 {
    font-size: 21px;
    margin-bottom: 6px;
}

.hero .about-me p {
    font-size: 17px;
}

/* Animations */
@keyframes cursor {
    to {
        border-left: 3px solid transparent;
    }
}

@keyframes words {
    0%, 20% {
        content: "Web developer";
    }
    21%, 40% {
        content: "Software developer";
    }
    41%, 60% {
        content: "Frontend developer";
    }
    61%, 80% {
        content: "Backend developer";
    }
    81%, 100% {
        content: "Fullstack developer";
    }
}
