:root {
    --grey-1: hsl(212, 33%, 89%);
    --grey-2: hsl(210, 31%, 80%);
    --grey-3: hsl(211, 27%, 70%);
    --grey-4: hsl(209, 23%, 60%);
    --grey-5: hsl(210, 22%, 49%);
    --grey-6: hsl(209, 28%, 39%);
    --grey-7: hsl(209, 34%, 30%);
    --grey-8: hsl(211, 39%, 23%);
    --grey-9: hsl(209, 61%, 16%);
    --white: #fff;
    --black: #000;
    --main-blue: #0066cc;
    --second-blue: rgb(76, 157, 233);
    --third-blue: #429cf5;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* Header and Footer */
.header,
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    gap: 10px;
    margin: 40px auto;
    padding: 10px;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.6);
    max-width: 500px;
}

.footer {
    margin: 30px 0 10px;
}

.header div a,
.footer div a {
    font-family: "Lexend", sans-serif;
}

.header div a {
    font-size: 19px;
    margin: 0 7px;
}

.footer div a {
    font-size: 16px;
}

.avatar {
    width: 32px;
    height: 32px;
}

/* Glowing Backgrounds */
.color,
.color3 {
    position: absolute;
    z-index: -1;
    inset: 0;
}

.color {
    display: flex;
    justify-content: center;
    top: 50px;
}

.color1,
.color2,
.color3 {
    border-radius: 9999px;
    filter: blur(110px);
    opacity: 0.4;
}

.color1 {
    width: 540px;
    height: 540px;
    background-color: var(--main-blue);
}

.color2 {
    width: 540px;
    height: 540px;
    background-color: var(--second-blue);
}

.color3 {
    width: 640px;
    height: 640px;
    background-color: #57d4d899;
    top: 200px;
    left: 450px;
}

/* Light Mode */
body.light .nav-links a:hover {
    background: var(--black);
    color: var(--white);
}

body.light .color1,
body.light .color2,
body.light .color3 {
    opacity: 0.6;
}

body.light .social-icons a {
    border-color: var(--third-blue);
}

body.light .social-icons a:hover,
body.light .btn:hover {
    background-color: var(--third-blue);
    box-shadow: 0 0 16px var(--third-blue);
    color: var(--white);
}

body.light .btn {
    color: var(--black);
    border-color: var(--third-blue);
}

body.light .hero span,
body.light .hero div .typing-text span::before {
    color: var(--white);
}

body.light .hero div .typing-text span::after {
    border-color: var(--white);
}

/* Dark Mode */
body.dark .header {
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid var(--black);
}

body.dark .btn {
    color: var(--white);
}

body.dark .btn:hover {
    color: var(--black);
}

body.dark .nav-links a:hover {
    background-color: var(--white);
    color: var(--black);
}

body.dark .social-icons a {
    color: var(--white);
}

@media(max-width: 768px) {
    body {
        width: 100vw;
        height: 100vh;
    }

    .header {
        margin: 10px 2px;
        padding: 0;
        flex-wrap: wrap; /* allows items to wrap on narrow screens */
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    /* .header .nav-links ul, .footer .nav-links ul, .iconsdiv {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0 auto;
        padding: 0;
        width: 100%;
    }

    .header .nav-links ul li, .footer .nav-links ul li{
        background-color: #555;
    }

    .header .nav-links {
        width: 100%;
        background-color: #777;
    }

    .header .nav-links ul li a {
        font-size: 22px;
        width: 100%;
    } */


}

/* Optional: Responsive Adjustments */
/*
@media(max-width: 380px) {
    .header {
        // add responsive styles here
    }
}
*/
