:root {
    --grey-1: hsl(212, 33%, 89%);
    --grey-2: hsl(210, 31%, 80%);
    --grey-3: hsl(211, 27%, 70%);
    --grey-4: hsl(209, 23%, 60%);
    --grey-5: hsl(210, 22%, 49%);
    --grey-6: hsl(209, 28%, 39%);
    --grey-7: hsl(209, 34%, 30%);
    --grey-8: hsl(211, 39%, 23%);
    --grey-9: hsl(209, 61%, 16%);
    --white: #fff;
    --bg-white: #e3e3e3;
    --black: #000;
    --main-blue: #0066cc;
    --second-blue: rgb(76, 157, 233);
    --third-blue: #0053a6;
    --fourth-blue: #34dcc3;
    --span-blue: #1b8e92;
    --teal: #57d4d899;
}

body,
.header,
.footer,
.hero,
.nav,
.nav-links,
.nav-ul,
.bar,
.menu-toggle,
.div,
.welcome,
.experience-div,
.about-me,
.iconsdiv,
.color1,
.color2,
.color3 {
    transition: all 0.5s ease;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: "Comfortaa", sans-serif;
}

/* Header and Footer */
.header,
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header {
    margin: 60px auto;
    padding: 10px;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.6);
    max-width: 500px;
}

.footer {
    margin: 40px 0;
}
/* end of header and footer */

/* header and footer links */
.header div a,
.footer div a {
    font-family: "Lexend", sans-serif;
}

.header div a {
    font-size: 19px;
    padding: 4px 10px;
}

.header .nav-links a,
.footer .nav-links a {
    border-radius: 6px;
}

.footer div a {
    font-size: 16px;
}
/* end of header and footer links */

/* nav styles */
.nav-links .nav {
    justify-content: center;
    display: flex;
}

.nav-links ul li {
    overflow: hidden;
}

.nav-links .nav ul li {
    padding: 10px 0;
}

.nav-links .nav ul li a {
    padding: 8px;
}
/* end of nav styles */

/* name and occupation styles */
/* .hero span {

} */
/* end of name and occupation styles */

/* avatar */
.avatar {
    width: 32px;
    height: 32px;
}
/* end of avatar */

/* mobile tab */
.mobile-tab {
    display: flex;
    flex-direction: row;
    gap: 12px;
}
/* end of tab */

/* hamburger bar */
.menu-toggle {
    display: none;
    cursor: pointer;
}
/* end of hamburger bar */

/* hamburger bars */
.bar {
    width: 28px;
    height: 2px;
    background-color: var(--color-gray-800);
    margin: 6px 0;
}
/* end of hamburger bars */

/* Glowing Backgrounds */
.color1,
.color2,
.color3 {
    position: absolute;
    z-index: -1;
    inset: 0;
}

.color1,
.color2,
.color3 {
    border-radius: 9999px;
    filter: blur(110px);
    opacity: 0.4;
    display: flex;
    justify-content: center;
}

.color1 {
    width: 620px;
    height: 620px;
    left: 220px;
    background-color: #498bce;
}

.color2 {
    width: 620px;
    height: 620px;
    left: 690px;
    background-color: #61adf9;
}

.color3 {
    width: 640px;
    height: 640px;
    top: 300px;
    left: 450px;
    background-color: var(--teal);
}
/* end of glowing colors */

/* Light Mode */
body.light {
    background-color: var(--bg-white);
    color: var(--black)
}

body.light .nav-links a:hover {
    background: var(--black);
    color: var(--white);
}

body.light .color1,
body.light .color2,
body.light .color3 {
    opacity: 0.6;
}

body.light .social-icons a {
    border-color: var(--third-blue);
}

body.light .social-icons a:hover,
body.light .btn:hover {
    background-color: var(--third-blue);
    box-shadow: 0 0 16px var(--third-blue);
    color: var(--white);
}

body.light .btn {
    color: var(--black);
    border-color: var(--third-blue);
}
/* end of light */

/* Dark Mode */
body.dark {
    background-color: #1d1d1d;
    color: var(--white);
}

body.dark .header {
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid var(--black);
}

body.dark .btn {
    color: var(--white);
}

body.dark .btn:hover {
    color: var(--black);
}

body.dark .nav-links a:hover {
    background-color: var(--white);
    color: var(--black);
}

body.dark .social-icons a {
    color: var(--white);
}

body.dark .hero span,
body.dark .typing-text .cursor {
    color: var(--white);
}

body.dark .color1 {
    background-color: var(--main-blue);
}

body.dark .color2 {
    background-color: var(--second-blue);
}

body.dark .color3 {
    background-color: #2a9b9f;
}

body.dark .bar {
    background-color: var(--white);
}
/* end of dark mode */

/* smaller screen styles */
@media (max-width: 768px) {
    * {
        overflow-x: none;
        overflow-x: hidden;
        padding: 0;
        margin: 0;
    }
    
    .color1 {
        display: none;
    }
    
    .color2 {
        display: none;
    }
    
    .color3 {
        display: none;
    }
    
    .hero {
        padding: 0;
        overflow: hidden;
    }

    /* nav styles */
    .nav-links .nav {
        position: fixed;
        top: 0;
        left: -100%;
        width: 40%;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 101;
        transition: left 0.4s ease;
        box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
    }

    .nav ul {
        flex-direction: column;
        align-items: center;
        gap: 4rem;
    }

    .nav-links .nav ul li,
    .nav-links .nav ul li a {
        padding: 15px 20px;
    }

    .nav-links .nav ul li a {
        padding: 15px 40px;
    }

    .nav-links .nav.active {
        left: 0;
        background-color: var(--white);
        display: flex;
        justify-content: center;
        align-content: center;
        height: 101vh;
    }

    body.dark .nav-links .nav.active {
        background-color: var(--black);
    }

    .nav-links .nav {
        display: none;
    }

    .nav-links .nav.active {
        display: flex;
        position: fixed;
        width: 190px;
        opacity: 0.95;
    }

    .menu-toggle {
        display: block;
        z-index: 102;
    }

    .menu-toggle.active {
        position: fixed;
        left: 75px;
        top: 25px;
    }

    .menu-toggle.active .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .menu-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.active .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    .header {
        gap: 70px;
        display: flex;
        align-items: center;
        margin: 50px 20px 10px;
        max-width: 400px;
        border: 1px solid rgba(136, 136, 136, 0.6);
        background: rgba(136, 136, 136, 0.6);
    }
    /* end of nav styles */

    /* start of main page styles and general */
    .hero .headingdiv,
    .hero .experience-div {
        overflow: hidden;
    }

    .hero .headingdiv .welcome{
        position: relative;
        top: 55px;
    }

    .hero .headingdiv {
        padding: 40px 0;
        margin: 0;
        height: 340px;
    }

    .hero .experience-div, .experience {
        display: none;
    }

    .hero .maindiv {
        padding: 10px 20px;
    }

    .hero .languages {
        margin: 10px 0;
    }
    
    .hero .languages .language-icons {
        padding: 0 20px;
    }

    .footer {
        display: none;
    }

    .route-container {
        padding: 0;
    }
    /* end of main page styles and general */

    /* start of projects page styles and general */
    .route-container .projects {
        padding: 60px 20px;
    }
    
    .route-container .projects .project-demo .site-div {
        margin: 30px 0;
        flex-direction: column;
    }

    .route-container .projects .project-demo .site-div a {
        margin: 30px 0;
        place-self: center;
    }
    /* end of projects page styles and general */
    
    /* start of contacts page styles and general */
    .route-container .contact {
        padding: 50px 20px 0;
    }

    form fieldset ol {
        margin: 0 10px;
    }
    
    form fieldset ol li label {
        font-size: 20px;
    }
    /* end of contacts page styles and general */

    .mobile-tab {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 80px;
        position: relative;
        left: -30px;
    }

    .mobile-tab .active {
        position: static;
    }

    /* making light/dark mode button more visible */
    .mode button {
        background-color: var(--black);
        color: #fff;
    }

    body.dark .mode button {
        background-color: rgba(255, 255, 255, 0.745);
        color: var(--black);
    }
}

body {
    transition: background-color 0.5 ease, color 0.5 ease;
}